bLogical.BizTalk.RESTBehavior/RESTDEMO/Table.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Table.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EventDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="ns3:Event" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" type="ns3:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="ns3:ArrayOfEvent" />
</xs:schema>